.form {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
}

.label-heading {
  text-align: center;
  margin: 0;
  color: rgba(0, 0, 0, 0.6)
}

.slider-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.base-size-flex-item {
  flex-grow: 1;
}

.coordinates {
  max-width: 8em;
}

:host {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.coordinate-pair {
  display: flex;
  flex-direction: column;
  /* border: 1px solid rgb(224, 224, 224);
  border-radius: 5px; */
  padding: 1em;
}
