<form class="form">
  <mat-card class="coordinate-pair">
    <span class="mat-subheading-1" class="label-heading">Top Left</span>
    <mat-form-field class="coordinates">
      <input step=".000001" (onchange)="handleCoordinate(0,$event)" type="number" matInput placeholder="X Coordinates">
    </mat-form-field>
    <mat-form-field class="coordinates">
      <input step=".000001" (onchange)="handleCoordinate(1,$event)" type="number" matInput placeholder="Y Coordinates">
    </mat-form-field>
  </mat-card>
  <mat-card class="coordinate-pair">
    <span class="mat-subheading-1" class="label-heading">Bottom Right</span>
    <mat-form-field class="coordinates">
      <input step=".000001" (onchange)="handleCoordinate(0,$event)" type="number" matInput placeholder="X Coordinates">
    </mat-form-field>
    <mat-form-field class="coordinates">
      <input step=".000001" (onchange)="handleCoordinate(1,$event)" type="number" matInput placeholder="Y Coordinates">
    </mat-form-field>
  </mat-card>
</form>
<div class="slider-container">
  <span class="mat-subheading-1" style="margin: 0; color:rgba(0, 0, 0, 0.6)">Opacity</span>
  <mat-slider style="width:80%" thumbLabel tickInterval="1" thumbLabel [(ngModel)]="opacityValue" [displayWith]="formatLabel"
    min="0" max="100" invert (input)="handleOpacity($event)">Opacity</mat-slider>
</div>

<div class="base-size-flex-item">
  <button mat-icon-button>
    <mat-icon aria-label="Locate overlay on map" color="primary">my_location</mat-icon>
  </button>

  <button mat-icon-button>
    <mat-icon aria-label="Delete overlay" color="warn">delete_forever</mat-icon>
  </button>
</div>
