<!-- <vaadin-upload id="manualUpload" no-auto></vaadin-upload>
<button id="uploadButton">Start Upload(s)</button> -->

<div class="drop-zone" [ngxFileDropzone]="readMode" multiple (fileDrop)="onFilePicked($event)" accept="image/*" (readEnd)="onReadEnd($event)">
  <button color="primary" mat-raised-button [ngxFilePicker]="readMode" ngxFilePicker accept="image/*" (filePick)="onFilePicked($event)"
    (readEnd)="onReadEnd($event)" multiple>Browse</button>
  <span class="mat-button">
    Drop an image!
  </span>
</div>

<!-- <mat-list> -->
<ng-container *ngFor="let file of this.addedOverlays | async">
  <!-- <mat-list-item> -->
  <mat-card style="margin:1em 0;">
    <mat-card-header>
      <mat-card-title>{{file.name}}</mat-card-title>
      <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
      <app-file-controls [file]="file"></app-file-controls>
    </mat-card-actions>


  </mat-card>
  <!-- </mat-list-item> -->
  <!-- <mat-divider *ngIf="(this.addedOverlays|async).length>1"></mat-divider> -->
</ng-container>
<!-- </mat-list> -->
