<div class="drop-zone" [ngxFileDropzone]="readMode" multiple (fileDrop)="onFilePicked($event)" accept="image/*" (readEnd)="onReadEnd($event)">
  <button color="primary" mat-raised-button [ngxFilePicker]="readMode" ngxFilePicker accept="image/*" (filePick)="onFilePicked($event)"
    (readEnd)="onReadEnd($event)" multiple>Browse</button>
  <span class="mat-button">
    Drop an image!
  </span>
</div>

<ng-container *ngFor="let file of this.addedOverlays | async">
  <mat-card style="margin:1em 0;">
    <mat-card-header>
      <mat-card-title>{{file.name}}</mat-card-title>
    </mat-card-header>
    <!-- <img mat-card-image [src]="file.url" [alt]="file.name"> -->
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
      <app-file-controls [file]="file"></app-file-controls>
    </mat-card-actions>
  </mat-card>
</ng-container>
